@{
    ViewData["Title"] = "Contact Page";
}

<style type="text/css">
    #contact .row {
        margin-bottom: 15px;
    }
</style>

<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card" style="width: 70rem;">
                <form id="contact">
                    <div class="form-group">
                        <div class="card-body">
                            <div class="row">
                                <div class="col d-flex justify-contect-start">
                                    <h1>Bize Ulaşın</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" value="" placeholder="Adayın Adı Soyadı" />
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" value="" placeholder="Telefon Numarası (5XXXXXXXX)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <input type="email" class="form-control" value="" placeholder="E-Posta Adresi" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <textarea cols="1" class="form-control" rows="5">Merhaba ben [Aday Adı Soyadı] test projesini tarafınıza e-posta olarak ilettim. şeklinde bir örnek mesaj gönderebilirsiniz.. </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Gönder</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
